@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url("https://fonts.cdnfonts.com/css/poppins");

.slider3d-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  background-image: repeating-linear-gradient(to right, transparent 0 100px, #25283b22 100px 101px),
    repeating-linear-gradient(to bottom, transparent 0 100px, #25283b22 100px 101px);
  z-index: 2000;
  overflow: hidden;
  font-family: Poppins, sans-serif;
}

.slider3d-wrapper::before {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  content: "";
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

.slider3d-wrapper .banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.slider3d-wrapper .banner .slider {
  position: absolute;
  width: 300px;
  height: 400px;
  top: calc(50% - 200px);
  left: calc(50% - 150px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 2;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.slider3d-wrapper .banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
}

.slider3d-wrapper .banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.slider3d-wrapper .banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.slider3d-wrapper .banner .content h1 {
  font-family: "ICA Rubrik", sans-serif;
  font-size: 16em;
  line-height: 1em;
  color: #25283b;
  position: relative;
  margin: 0;
}

.slider3d-wrapper .banner .content h1::after {
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  z-index: 2;
  -webkit-text-stroke: 2px #d2d2d2;
  color: transparent;
}

.slider3d-wrapper .banner .content .author {
  font-family: Poppins, sans-serif;
  text-align: right;
  max-width: 200px;
}

.slider3d-wrapper .banner .content h2 {
  font-size: 3em;
  margin: 0;
}

.slider3d-wrapper .banner .content .model {
  /* background-image set via inline style in JSX */
  width: 100%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}

.slider3d-back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 3000;
  padding: 10px 20px;
  background: #25283b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 1;
  visibility: visible;
}

.slider3d-back-btn.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 1023px) {
  .slider3d-wrapper .banner .slider {
    width: 160px;
    height: 200px;
    left: calc(50% - 80px);
  }
  .slider3d-wrapper .banner .slider .item {
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
      translateZ(300px);
  }
  .slider3d-wrapper .banner .content h1 {
    text-align: center;
    width: 100%;
    text-shadow: 0 10px 20px #000;
    font-size: 7em;
  }
  .slider3d-wrapper .banner .content .author {
    color: #fff;
    padding: 20px;
    text-shadow: 0 10px 20px #000;
    z-index: 2;
    max-width: unset;
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .slider3d-wrapper .banner .slider {
    width: 140px;
    height: 187px;
    left: calc(50% - 70px);
    top: calc(50% - 94px);
  }
  .slider3d-wrapper .banner .slider .item {
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
      translateZ(300px);
  }
  .slider3d-wrapper .banner .content h1 {
    font-size: 5em;
  }
}
